 

  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/*   .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Adjust as needed \
    background: #5b79af;
  }
  
  .nav-links li {
    margin-right: 20px; /* Adjust spacing between links 
  } */
  
  .loading-spinner {
    width: 40px;
    height: 40px;
    border: 10px solid #a7aedb;
    border-top: 10px solid #061231;
    border-radius: 50%;
    animation: App-logo-spin 1.5s linear infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  .navbar-default .navbar-nav > li > a{
    color: #e9b846;
  }
  .navbar-default .navbar-nav > li > a:hover{
    background-color: #e9b846;
    color: #FFFFFF;
  }