 
  .App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(16px + 2vmin);
    color: white;
  }

  .header-text{
    margin: 0px 20px 0px 0px;
    font-weight: 600;
  }
  .app-footer {
    background-color: #333;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
